@media (max-width: 1439px) and (min-width: 1024px){

  h1{
    font-size: 38px;
    font-family: RobotoBold;
  }

  h2{
    font-size: 44px;
    font-family: RobotoBold;
  }

  h3{
    font-size: 36px;
    font-family: RobotoBold;

  }

  h4{
    font-size: 24px;
    font-family: OSansRegular;
  }



  header {
    height: 70px;
    line-height: 70px;
  }

  header .row {
    margin-left: 5.8vw;
    margin-right: 5.3vw;

  }

  header a {
    margin-left: 4vw;
    font-size: 1.7vw;
  }

  header svg{
    margin-right: 2vw;
    height: 37px;
    width: 37px;
    margin-left: -5vw;
  }

/*********AboutMe******/


  .aboutme{
    padding-top: 120px;
  }


  .aboutme .row{
    width: 970px;
    margin-left: auto;
    margin-right: auto;
  }


  .aboutme img{
    margin-bottom: 50px;
  }

  .maths p{
    width: 280px;
  }

  .bank p{
    width: 280px;
  }

  .programming p{
    width:280px;
  }

  .bank{
    margin-left: 4vw;
    margin-right: 4vw;
  }

  #mathematician{
    margin-top: 70px;
    width: 250px;
    height:300px;
  }
  #banker{
    margin-top: 100px;
    width: 120px;
    height: 270px;
  }
  #programmer{
    margin-top: 70px;
    width: 250px;
    height:300px;
  }

  #path{
    width: 1024px;
    position:absolute;
    top: 635px;
  }
  /*********Lenguajes y herramientas******/
  .btn{
    position:absolute;
    width: 77vw;
    height: 77vw;
    max-width: 110px;
    max-height: 110px;
    border-radius: 50%;
    background-color: #FA7267;
    margin-top: -250px;
    left: 700px;
    z-index: 30;
  }

  .btn .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    border-radius: 50%;
    background-color: #FA7267;
    animation: pulse 1s infinite ;
  }

  /*********Mis Programas******/
  .misprogramas {
    padding-bottom: 100px;
    padding-top: 160px;
  }

  .programs{
    width: 915px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-4{
    width: 305px;
    height: 305px;
    flex: 0 0 100%
  }

  .IA h3{
    width: 100%;
    font-size: 26px;
    margin-top: 36px;
    margin-bottom: 18px;
  }

  .col-4 p{
    font-size: 13px;
    width: 263px;
    margin-left: auto;
    margin-right: auto;
  }

  .Webs {
    padding-top: 137px;
  }
  .Webs h3{
    font-size: 26px;
  }

  #paddle1{
    width: 10px;
  }

  #paddle2{
    width: 10px;
  }

  #pongball{
    width: 10px;
    height: 10px;
  }

  #CSFinance:hover p{
    transform: translateY(-120%);
  }

  #tablero{
    width: 163px;
    height: 147px;
    position: absolute;
    bottom: -10px;
    right: -10px;
  }
  #X1{
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
  #X2{
    width: 25px;
    height: 25px;

    position: absolute;
    bottom: 0px;
    right: 10px;
  }
  #O1{
    width: 25px;
    height: 25px;

    position: absolute;
    bottom: 0px;
    right: 60px;
  }
  #O2{
    width: 25px;
    height: 25px;

    position: absolute;
    bottom: 10px;
    right: 110px;
  }

  .balls{
    text-align: center;
    margin-top: 32px;
    margin-left: 65px;
  }
   .balls .sphere{
    width: 17px;
    height: 17px;
    margin-right: 21px;
  }

  #Computervision h3{
    font-size: 21px;
  }

  #Computervision p{
    position: relative;
    z-index: 0;
  }
  #minirobot{
    width: 50%;
    height: 101px;
    position: absolute;
    bottom: 0%;
    right: -4%;
  }
  #roboteye{
    width: 7px;
    height: 7px;
    position: absolute;
    bottom: 16.5%;
    right: 21.5%;
  }
  #robotblink{
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 15.8%;
    right: 20.6%;
    display: none;
  }

  #Books:hover p{
    opacity: 1;
    transform: translateY(-150%);
  }


  #mine1{
    height: 30px;
    width:30px;
  }
  #mine3{
    height: 30px;
    width:30px;

    position: absolute;
    top: 80%;
  }
  #mine{
    height: 30px;
    width:30px;

  }



  #checknim{
    display: none;
    position: absolute;
    top: 70%;
    right: 43%;

  }
  #loading{
    position: absolute;
    top: 70%;
    right: 43%;
  }


}
